<!DOCTYPE html>
<html ng-app="popup">
<head>
    <meta charset="UTF-8">
    <script src="/vendors/angular/angular.min.js"></script>
    <script src="/js/popup.js"></script>
    <link href="css/popup.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div ng-controller="PopupController">
        <button class="scan-button" ng-click="startScan()" ng-if="!scanInProgress">SCAN PAGE</button>
        <span class="loading" ng-if="scanInProgress && formsList.length === 0">{{loading}}</span>
        <ul ng-if="formsList.length > 0" class="forms-container">
            <li ng-repeat="formData in formsList track by $index" class="form-item"
                ng-class="{'safe-item': formData.status=='safe', 'vulnerable-item': formData.status=='vulnerable'}">
                <span class="form-string" ng-bind="formData.formString"></span>
                <img class="form-image" ng-if="formData.status!='waiting'" ng-src="{{getImgUrl(formData.status)}}">
            </li>
            <button class="stop-button" ng-click="cancel()">Stop</button>
        </ul>
    </div>
</body>
</html>