@-webkit-keyframes fadein {
    1% { opacity: 0; visibility: hidden; }
    2% { opacity: 0; visibility: visible;}
    100% { opacity: 1; visibility: visible;}
}

@keyframes fadein {
    1% { opacity: 0; visibility: hidden; }
    2% { opacity: 0; visibility: visible;}
    100% { opacity: 1; visibility: visible;}
}

@-webkit-keyframes fadeout {
    1% { opacity: 1; visibility: visible;}
    99% { opacity: 0; visibility: visible;}
    100% { opacity: 0; visibility: hidden; }
}

@keyframes fadeout {
    1% { opacity: 1; visibility: visible;}
    99% { opacity: 0; visibility: visible;}
    100% { opacity: 0; visibility: hidden; }
}

.fadein {
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.fadeout {
    -webkit-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}